
<div id="content1">
  <div class="wrap">
    <div class="hero-unit">
      <%= form_for(:session, url: sessions_path) do |f| %>

        <%= f.label :email %>
        <%= f.text_field :email, placeholder: "Your email address" %>

        <%= f.label :password %>
        <%= f.password_field :password, placeholder: "Enter your password" %>
        <% if @captcha %>
          <p>You have failed more than 3 login attempts</p>
          <%= recaptcha_tags %>
        <% end %>
        <%= f.submit "Login", class: "btn btn-large btn-primary" %>

      <% end %>
    </div>
  </div>
</div>

