<% provide(:title, "Edit user") %>


<div id="content1">
  <div class="wrap">
    <div class="hero-unit">
      <h1>Update your profile</h1>
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_message' %>

        <%= f.label :full_name %>
        <%= f.text_field :full_name %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation %>

        <%= f.label :birthday %>
        <%= f.password_field :birthday %>

        <%= f.label :phone %>
        <%= f.password_field :phone %>

        <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
      <% end %>
    </div>
  </div>
</div>