<div id="content1">
  <div class="wrap">
    <div class="hero-unit">
      <%= form_for(@user) do |f| %>
        <%= render "shared/error_message" %>

        <%= f.label :full_name %>
        <%= f.text_field :full_name, placeholder: "Your full name (e.g John Smith)" %>

        <%= f.label :email %>
        <%= f.text_field :email, placeholder: "Your email address (e.g xxx@yyy.zzz)" %>

        <%= f.label :password %>
        <%= f.password_field :password, placeholder: "Your password (At least 6 characters)" %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, placeholder: "Confirm your password" %>

        <%= f.label :birthday %>
        <%= f.text_field :birthday, placeholder: "Your birthday (as format dd/mm/yyyy)" %>

        <%= f.label :phone %>
        <%= f.text_field :phone, placeholder: "Your phone number (e.g 9923-2311)" %>

        <%= f.submit "Sign up", class: "btn btn-large btn-primary" %>
      <% end %>
    </div>
  </div>
</div>