<li>
  <h1><%= book.id %>. <%= book.title %></h1>
  <p><%= book.description %></p>
  <p><%= book.unit_price %>$</p>
  <p><%= book.author_name %></p>
  <p><%= book.publisher_name %></p>
  <p><%= book.published_date %></p>
</li>