<div id="content1">
  <div class="jumbotron">
    <h1><%= @book.id %>. <%= @book.title %></h1>
    <p>Description: <%= @book.description %></p>
    <p><%= @book.unit_price %>$</p>
    <p><%= @book.author_name %></p>
    <p><%= @book.publisher_name %></p>
    <p><%= @book.published_date %></p>
  </div>
</div>