<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <a href="/" title="Book Depositories" rel="home" class="brand">Book Depositories</a>
      <div class="container">
        <ul class="nav pull-right">
          <li><%= link_to "Home", "/" %></li>
          <% unless user_signed_in? %>
          <li><%= link_to "Login", new_user_session_path %></li>
          <% else %>
          <li><%= link_to "Logout", destroy_user_session_path, method: "delete" %></li>
          <li><%= link_to "Settings", edit_user_registration_path %></li>
          <% end %>
          <li><%= link_to "Search", "#" %></li>
        </ul>
      </div>
    </div>
</header>